.bgImage{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.1)),url(../assets/images/bg_01.jpg);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scrollbar-color: transparent transparent;
    
}
.bgImage1{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.1)),url(../assets/images/bg_02.jpg);
}
.bgImage2{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.1)),url(../assets/images/bg_03.jpg);
}
.bgImage3{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.1)),url(../assets/images/bg_04.jpg);
}
.navBar{
    width: 100%;
    position: fixed;
    box-shadow: 0px 5px 33px  #ffd85a66;
    z-index: 1;
}
.navButtonBox{
    cursor: pointer;
    background-color: transparent;
    transition: 1s;
    color: #fffbd4;
    
}
.navButtonBox:hover{
    background-color: rgba(241,240,232,.81);
    color:#644F0A;
    transition: 1s --primary-glow;
    box-shadow: 5px 0px 33px rgba(245,247,248,.65);
}
.portrait{
    width: 310px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.portrait1{
    width: auto;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modalImage{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* height: 100vh; */
}